.fon {
  position: absolute;
  width: 1400px;
  height: 1000px;
  background: #33333393;
  /* opacity: 0.7; */
  z-index: 1;
}

.rest-form {
  position: absolute;
  width: 400px;
  height: 545px;
  background: white;
  border-radius: 8px;
  justify-content: center;
  left: 37%;
  top: 40px;
}

.close {
  position: relative;
  left: 50%;
  top: 8px;
}

.title-rest {
  position: absolute;
  width: 400px;
  height: 545px;
  left: 20px;
  top: 50px;
  font-family: "Roboto";
  /* font-style: normal; */
  /* font-weight: 600; */
  font-size: 35px;
  line-height: 51px;
  color: #000000;
}

.title-emailu {
  position: absolute;
  width: 400px;
  height: 545px;
  left: 20px;
  top: 185px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 22px;
}

.inp-emaile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  position: absolute;
  width: 339px;
  height: 25px;
  left: 20px;
  top: 230px;
  background: #e3e3e3;
  border-radius: 4px;
  border: none;
}

.rest-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: absolute;
  width: 359px;
  height: 45px;
  left: 20px;
  top: 300px;
  background: #9dbaf3;
  color: white;
  font-size: 16px;
  border: 1px solid #9dbaf3;
  border-radius: 8px;
  transition: 0.3s;
}

.restore-btn:hover {
  box-shadow: 0 0 4px rgb(25, 19, 80);
  transition: 0.3s;
}